*.pyc
__pycache__/
*.pyo
*.pyd
.env
.venv/
*.sqlite3


.vscode/
.idea

# Logs
*.log

# Backend
/backend/.venv/
/backend/__pycache__/
/backend/app/__pycache__/
/backend/*.db

# Frontend
node_modules/
dist/
build/
.env.local

